<a href='https://www.darshan.ac.in/'> <img src='https://www.darshan.ac.in/Content/media/DU_Logo.svg' width="250" height="300"/></a>
<pre>
<center><b><h1>Python Programming - 2101CS405</b></center>
<center><b><h1>Lab - 10</b></center>    
<pre>

# Modules

# A

### 01) WAP to create Calculator module which defines functions like add, sub,mul and div. create another file that uses the Calculator module.

In [8]:
import Calculator as cl

a = int(input("Enter number 1 : "))
op = input("Enter operation : ")
b = int(input("Enter number 2 : "))

if op == '+':
    print(cl.add(a,b))
elif op == '-':
    print(cl.sub(a,b))
elif op == '*':
    print(cl.mul(a,b))
elif op == '/':
    print(cl.div(a,b))
else:
    print("Invalid operation")

2

### 02) WAP to Pick a random character from a given String.

In [18]:
import random

s = input("Enter a string : ")
print(random.choice(s))

h

### 03) WAP to Pick a random element from a given list.

In [250]:
import random

s = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
print(random.choice(s))

3

### 04) WAP to demonstrate the use of the math module.

In [251]:
import math

print("Value of pi:", math.pi)
print("Value of e:", math.e)

print("Square root of 10:", math.sqrt(10))

print("Sine of 30 degrees:", math.sin(math.radians(30)))
print("Cosine of 45 degrees:", math.cos(math.radians(45)))
print("Tangent of 60 degrees:", math.tan(math.radians(60)))

print("Floor of 2.5:", math.floor(2.5))
print("Ceiling of 3.2:", math.ceil(3.2))

print("Factorial of 5:", math.factorial(5))

print("Absolute value of -5:", abs(-5))

print("2 raised to the power of 3:", 2**3)

print("Logarithm of 10 to the base 2:", math.log2(10))
print("Natural logarithm of 10:", math.log(10))

print("Hyperbolic sine of 1:", math.sinh(1))
print("Hyperbolic cosine of 1:", math.cosh(1))
print("Hyperbolic tangent of 1:", math.tanh(1))

print("Inverse hyperbolic sine of 1:", math.asinh(1))
print("Inverse hyperbolic cosine of 1:", math.acosh(1))
print("Inverse hyperbolic tangent of 0:", math.atanh(0))

Value of pi: 3.141592653589793
Value of e: 2.718281828459045
Square root of 10: 3.1622776601683795
Sine of 30 degrees: 0.49999999999999994
Cosine of 45 degrees: 0.7071067811865476
Tangent of 60 degrees: 1.7320508075688767
Floor of 2.5: 2
Ceiling of 3.2: 4
Factorial of 5: 120
Absolute value of -5: 5
2 raised to the power of 3: 8
Logarithm of 10 to the base 2: 3.321928094887362
Natural logarithm of 10: 2.302585092994046
Hyperbolic sine of 1: 1.1752011936438014
Hyperbolic cosine of 1: 1.5430806348152437
Hyperbolic tangent of 1: 0.7615941559557649
Inverse hyperbolic sine of 1: 0.881373587019543
Inverse hyperbolic cosine of 1: 0.0
Inverse hyperbolic tangent of 0: 0.0

### 05) WAP to demonstrate the use of date time module.

In [284]:
import datetime as dt
"""Current date and time: 2024-02-06 06:54:19.910711
 2024-02-06
 06:54:19.913553
 2024
Current : 2
Current : 6
Current : 6
Current : 54
Current : 19
Current : 917847
Current : UTC
Current : 1707202459.918025
Current : 2024-02-06 06:54:19.918086
: 2024-02-06 06:54:19
Current time in a specific timezone: 2024-02-06 12:24:19
Current time in a specific timezone using a specific format: Tue, 06 Feb 2024 12:24:19 UTC+05:30
"""
x = dt.datetime.now()
print("Current date and time:",x)
print("Current time:",x.time())
print("Current year:",x.year)
print("Current month:",x.month)
print("Current day:",x.day)
print("Current hour:",x.hour)
print("Current minute:",x.minute)
print("Current second:",x.second)
print("Current microsecond:",x.microsecond)
print("Current timezone:",dt.timezone.utc)
print("Current timestamp:",x.timestamp())
print("Current UTC time:",x.utcnow())
print("Current time in a specific format:",x.strftime("%H:%M:%S"))

Current date and time: 2024-02-20 08:52:44.449184
Current time: 08:52:44.449184
Current year: 2024
Current month: 2
Current day: 20
Current hour: 8
Current minute: 52
Current second: 44
Current microsecond: 449184
Current timezone: UTC
Current timestamp: 1708399364.449184
Current UTC time: 2024-02-20 03:22:44.454189
Current time in a specific format: 08:52:44

C:\Users\shrey\AppData\Local\Temp\ipykernel_16236\1654581356.py:31: DeprecationWarning: datetime.datetime.utcnow() is deprecated and scheduled for removal in a future version. Use timezone-aware objects to represent datetimes in UTC: datetime.datetime.now(datetime.UTC).
  print("Current UTC time:",x.utcnow())

# B

### 01) WAP to Roll dice in such a way that every time you get the same number.

In [307]:
import random

random.seed(1)
print(random.randint(1,6))
print(random.randint(1,6))

2
5

### 02) WAP to generate 3 random integers between 100 and 999 which is divisible by 5.

In [500]:
import random

print(random.randrange(100,999,5))

535

### 03) WAP to generate 100 random lottery tickets and pick two lucky tickets from it as a winner.

In [520]:
import random

x = [random.randint(100000,999999) for x in range(0,100)]

print("Winning tickets ( 6 digit nunbers only ): ",[random.choice(x) for i in range(0,2)])

Winning tickets ( 6 digit nunbers only ):  [177770, 256271]

### 04) WAP to print current date and time in Python.

In [10]:
import datetime

print(datetime.datetime.now())

2024-02-20 09:28:25.802194

### 05) Subtract a week (7 days) from a given date in Python.

In [530]:
from datetime import datetime, timedelta

print(datetime.now()-timedelta(days=7))

2024-02-13 09:12:19.798788

### 06) WAP to Calculate number of days between two given dates.

In [1]:
from datetime import datetime

print(datetime.now()-datetime(2005,2,21))

6938 days, 9:22:34.117164

### 07) WAP to Find the day of the week of a given date.

In [7]:
import datetime

print(datetime.datetime.now().weekday())

1